<h1>Editing entry</h1>
<% @epicform = "edit" %>
<% form_for(@entry) do |f| %>
  <%= f.error_messages %>
  

  <%= render :partial => "form", :locals => { :f => f, :label_text => "Re-Blab!"} %>
<% end %>

<%= link_to 'Back', @entry %>
