<html>
<body>
<div id="entry-list">
  <!--<h1>entries</h1>-->
  <%@chld = ''%>
  <%@chd = ''%>
  <%for entry in @entries%>
  <%@chld += entry.state%>
  <%@count = 66%>
  <%for ent in @entries%>
    <%if ent.state == entry.state%>
      <%if @count < 90%>
        <%@count += 4%>
      <%end%>
    <%end%>
  <%end%>
  <%@chd = @chd.concat(@count)%>
  <%end%>
  <t1>Hearsay Per Capita Map</t1><br>
  <p1>Hearsay comitted per person by state.<br>The brighter the state, the more its residents gossiped.</p1>
  <p align="center">
  <img style="border-width:0;" src="http://chart.apis.google.com/chart?chco=000000,000000,f29f01,365e24,13390a&chd=s:<%=@chd%>&chf=bg,s,ffffff&chtm=usa&chld=<%=@chld%>&chs=440x220&cht=t">
  <%#000000,000000,f29f01     f5f5f5,edf0d4,6c9642,365e24,13390a%>
  </p>
  <p align="right"><%= link_to 'Post a new entry', new_entry_path %> 
  </p>
  
<% for entry in @entries.reverse %>
  <%= render :partial => "entries/entrybox", :locals => { :entry => entry } %>
<% end %>
</div>
<br>
</body>
</html>