  <p>
  Be Creative and Make Your Own!!!
  <form method="post" value="mailto:drngai@gmail.com?subject=category_suggestion&body=<%= params[:other] %>">
    <%= text_field_tag("other", params[:other]) %>
    <input type="submit" value="Send">
    </form>
  </p>
 