<h1>Gossip Away! Post a new entry:</h1>

<!--Map your entry!
<input type="text" name="address" size="20" id="address" value="2155 Shattuck">
<br>
Zipcode<br>
<input type="text" name="zipcode" size="20" id="zipcode" value="94709">
<br>
<input type="button" value="Go to Address" onclick="initialize()">
  
<%#= render :partial => '/entryMap' %>
-->
<% form_for @entry, :html =>{ :multipart => true}  do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => { :f => f, :label_text => "Blab!"} %>
<% end %>

<%= link_to 'Back', entries_path %>
