 	<h1>about us</h1>
<hr>
	<p><font size="3"><b>hear⋅say</font></b>
		<br>–noun
	<br>1. 	unverified, unofficial information gained or acquired from another and not part of one's direct knowledge
	<br>2. 	an item of idle or unverified information or gossip; rumor
	</p>
	<hr>
	<p><b>hearsay!</b> is a collaborative effort that not only involves the web developers, but also involves the users - people like you!</p>
	<p>Gossip is human nature, and people can't help but enjoy telling or hearing it. Someone cannot be held liable for the gossip they hear or spread because, like the above definition sates, it is <i>unverified, unofficial information</i>. Gossip is fun, and we're all over it.</p>
	<p>We at <b>hearsay!</b> didn't want to be just like any other gossip site, no. We didn't want to be the only contributors; who's to say we acquire the best gossip on the town? That is why we decided <b>hearsay!</b> should be a collaborative effort with the public because what one person knows could be valuable information to another. Plus, nothing is more exciting than actually seeing the hearsay in action. That is why we've incorporated images with our entries. Anyone can submit an entry and upload and image related to that entry. Someone spots a hot celeb? Snap that picture and post it! Crazy bum on the street that people should try to avoid? Snap that picture and post it! Slutty ho on the street wearing too-short-for-public-use shorts? Snap that picture and post it! It's all about having fun. In addition to these entries, we've implemented categories so people can immediately get to their favorite topics of gossip. Visitors can also rank their favorite entries so others can see what's hot on the press!</p>

        
<hr>
	
	<p><h1>meet the developers</h1></p>

