<h1>frequently asked questions (faq)</h1>
<p>1. What is <b>hearsay!</b>?<br>
	See our <%= link_to 'about', {:controller => "about"} %> page.
</p>
<p>2. What does your name mean? Where did it come from?<br>
	See our <%= link_to 'about', {:controller => "about"} %> page.
</p>
<p>3. Why should I use <b>hearsay!</b>?<br>
	It is tons of fun!
</p>